.HeroSelectorBaseHud
{
  width: 100%;
  height: 100%;
}

#HeroSelector
{
  width: 75%;
  height: 75%;
  align: center center;
  vertical-align: center;
  background-color: white;
}

#WizardSelect
{
    width: 50%;

    align: left center;
    vertical-align: center;
}

#WizardSelect Button
{
  width: 200px;
  height: 200px;
  background-color: black;
  align: center center;
}

#WizardSelect Button.Selected
{
  width: 200px;
  height: 200px;
  background-color: blue;
}

#WizardSelect Button Label
{
  font-size: 36px;
  text-align: center;
  align: center center;
  vertical-align: center;
}

#WarriorSelect
{
  width: 50%;

  align: right center;
  vertical-align: center;
}
